trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: Export_library
  steps:
  - script: curl https://api.nest.saker.build/bundle/download/saker.build-v$(curl -s https://mirror.nest.saker.build/badges/saker.build/latest.txt) -o saker.build.jar
    displayName: 'Download saker.build'
  - script: java -jar saker.build.jar -bd build -trace pwd://build/build.trace -trace-artifacts-embed export
    displayName: 'Export library JAR'
  - task: PublishBuildArtifacts@1
    condition: always()
    displayName: 'Publish build trace'
    inputs:
      pathtoPublish: build/build.trace
      artifactName: trace
